.bg-upnvj {
    background-color: #f16909 !important;
}

.text-upnvj {
    color: #f16909 !important;
}

.btn-upnvj {
    background-color: #f16909 !important;
    color: #fff !important;
}

.btn-upnvj:hover {
    background-color: #f16909 !important;
    color: #fff !important;
}

/* .active {
    background-color: #000000 !important;
    color: #fff !important;
} */

.btn-dashboard-dark {
    background-color: #000000 !important;
    color: #fff !important;
    padding: 10px 20px !important;
    border-radius: 5px !important;
    margin-bottom: 0 !important;
    margin-top: -30px !important;
}

.btn-dashboard-primary {
    background-color: #f16909 !important;
    color: #fff !important;
    padding: 10px 20px !important;
    border-radius: 5px !important;
    margin-bottom: 0 !important;
    margin-top: -30px !important;
}

.btn-logout {
    background-color: #000000 !important;
    color: #fff !important;
    padding: 10px 20px !important;
    border-radius: 5px !important;
}

.bg-dark {
    background-color: #000000 !important;
    color: #fff !important;
}

/* Batasi lebar dropdown agar tidak overflow */
.sidebar .collapse-inner {
    max-width: 230px;
    white-space: normal;
    word-break: break-word;
    overflow: hidden;
}

/* Atur padding agar rapi */
.sidebar .collapse-item {
    white-space: normal !important; /* Supaya teks bisa wrap */
    word-break: break-word;
    line-height: 1.4rem;
}